<div id="dlg_Add" class="easyui-dialog" title="修改账户信息" closed="true" style="width:300px" data-options=" iconCls: 'icon-save',	buttons: [{	text:'保存',	iconCls:'icon-ok',	handler:Save},{text:'取消',iconCls:'icon-cancel',handler:cancel}]">
    <div title="Register" style="width:98%;">
        <form id="from_account">
            <input type="hidden" name="id" id="accountId" />
            <input type="hidden" name="personId" id="personId" />
            <ul><li style="width:30%">账户名称:</li><li style="width:60%"><input id="accountName" name="accountName" class="easyui-textbox"></li></ul>@*data-options="prompt:'Enter a email address...',validType:'email'"*@
            <ul><li style="width:30%">邮箱:</li><li style="width:60%"><input id="email" name="email" class="easyui-textbox"></li></ul>
            <ul><li style="width:30%">积分:</li><li style="width:60%"><input id="score" name="score" class="easyui-numberbox"></li></ul>
            <ul><li style="width:30%">充值:</li><li style="width:60%"><input id="amount" name="amount" class="easyui-numberbox"></li></ul>
            <ul>
                <li style="width:30%">账号类型:</li>
                <li style="width:60%">
                    <select id="sel_accountType" class="easyui-combobox" name="accountType">
                        <option value="0" selected>请选择</option>
                        <option value="1">管理员</option>
                        <option value="2">超级用户</option>
                        <option value="3">普通用户</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li style="width:30%">等级:</li>
                <li style="width:60%">
                    <input id="sel_level" name="levelId"/>
                </li>
            </ul>
            <ul>
                <li style="width:30%">状态:</li>
                <li style="width:60%">
                    <select id="sel_status" class="easyui-combobox" name="status">
                        <option value="0" selected>请选择</option>
                        <option value="1">Normal</option>
                        <option value="2">Disable</option>
                        <option value="3">Black</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li style="width:30%">密码状态:</li>
                <li style="width:60%">
                    <select id="sel_passwordType" class="easyui-combobox" name="passwordType">
                        <option value="0" selected>请选择</option>
                        <option value="1">Normal</option>
                        <option value="2">Reset</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li style="width:30%">角色:</li>
                <li style="width:60%">
                    @foreach (var item in RoleModel.CurrentCacheList)
                    {
                         <input name="accountRole" type="checkbox" value="@item.bitMap"/> @(item.roleName) 
                    }
                    <input name="roleBitMap" id="hid_bitMap" type="hidden" />
                </li>
            </ul>
        </form>
    </div>
</div>
<script>

    function Save() {
        $('#dlg_Add').dialog('close');
        loadingBox.show("正在保存中...")
        var roleBitMap = 0;
        $('[name="accountRole"]').each(function () {
            if (this.checked)
            {
                roleBitMap += parseInt(this.value);
            }
        });
        $("#hid_bitMap").val(roleBitMap);
        var data = $("#from_account").serialize();
        var accountId = $("#accountId").val();
        var url = "/Account/UpdateAccount";
        $.post(url, data, function (d) {
            loadingBox.hide();
            if (d.result == "@((int)ResultType.Success)") {
                alert("保存成功");
                $("#accountList").datagrid();

            }
            else {
                alert("保存失败");
                $('#dlg_Add').dialog('open');
            }
            $("#accountList").datagrid('uncheckAll');

        })
    }
    function edit(accountId) {
        //var row = $('#accountList').datagrid('getSelected');
        //$("#from_account")[0].reset();
        $('#from_account').form('clear'); //清表单
        $("#accountList").datagrid('uncheckAll');
        $(".panel-title panel-with-icon").text("修改账户信息");
        $.post("/Account/QueryAccountById", { id: accountId }, function (d) {
            //$("#from_account").form('load', {
            //    accountName: d.accountName,
            //    email:d.email
            //});
            $('#from_account').form('load', d);
            $('[name="accountRole"]').each(function () {
                if ((this.value & d.roleBitMap) == this.value) {
                    this.checked = true;
                }
                else {
                    this.checked = false;
                }
            });
            //SetFormValue("from_account", d);
            $('#accountName').textbox('disable');
            //$("#sel_role").combobox('setValue', 1);
            $('#dlg_Add').dialog('open');
        }, "json");

    }
    function Add() {
        $('#accountName').textbox('enable');
        ClearFrom();
        $("#accountList").datagrid('uncheckAll');
        $("#personId").val("@ViewBag.personId");
        $(".panel-title panel-with-icon").text("新增账户");
        $('#dlg_Add').dialog('open');
    }
    //$("#sel_role").combobox({
    //    url: '/Account/QueryRoleList',
    //    valueField: 'value',
    //    textField: 'text',
    //    required: false,
    //    editable: false,
    //    value: 0
    //});
    $("#sel_level").combobox({
        url: '/Account/QueryLevelList',
        valueField: 'value',
        textField: 'text',
        required: false,
        editable: false,
        value: 0
    });
    function cancel() {
        $('#dlg_Add').dialog('close');
    }
    function ClearFrom()
    {
        $('#from_account').form('clear'); //清表单
        $("#sel_level").combobox({ value: 0 });
        $("#sel_status").combobox({ value: 0 });
        $("#sel_accountType").combobox({ value: 0 });
    }
</script>