@*@{
    Layout = null;
}
<ul class="easyui-tree">
    <li>
        <span>Folder</span>
        <ul>
            <li>
                <span>Sub Folder 1</span>
                <ul>
                    <li><span>File 11</span></li>
                    <li><span>File 12</span></li>
                    <li><span>File 13</span></li>
                </ul>
            </li>
            <li><span>File 2</span></li>
            <li><span>File 3</span></li>
        </ul>
    </li>
    <li><span>File21</span></li>
</ul>*@


@using HH.RMS.IService.Web;
@using HH.RMS.Common.Unity;
<ul class="easyui-tree">
    @Html.Raw(MenuModel.CurrentSession);
</ul>
