<div id="dlg_Add" class="easyui-dialog" title="添加新用户" closed="true" style="width:600px" data-options=" iconCls: 'icon-save',	buttons: [{	text:'保存',	iconCls:'icon-ok',	handler:AddSave},{text:'取消',iconCls:'icon-cancel',handler:AddCancel}]">
    <div title="Register" style="width:98%;">
        <form id="from_addPerson">
            <ul><li style="width:20%">账户名称:</li><li style="width:60%"><input id="txt_accountName" name="accountName" class="easyui-textbox"></li></ul>
            <ul><li style="width:20%">邮箱:</li><li style="width:60%"><input id="txt_email" name="email" class="easyui-textbox"></li></ul>@*data-options="prompt:'Enter a email address...',validType:'email'"*@
            <ul><li style="width:20%">积分:</li><li style="width:60%"><input id="txt_score" name="score" class="easyui-numberbox"></li></ul>
            <ul><li style="width:20%">充值:</li><li style="width:60%"><input id="txt_amount" name="amount" class="easyui-numberbox"></li></ul>
            <ul>
                <li style="width:20%">等级:</li>
                <li style="width:60%">
                    <input id="sel_level" name="level" />
                </li>
            </ul>
            <ul>
                <li style="width:20%">账号类型:</li>
                <li style="width:60%">
                    <select id="sel_accountType" class="easyui-combobox" name="accountType">
                        <option value="0" selected>请选择</option>
                        <option value="1">管理员</option>
                        <option value="2">超级用户</option>
                        <option value="3">普通用户</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li style="width:20%">状态:</li>
                <li style="width:60%">
                    <select id="sel_status" class="easyui-combobox" name="status">
                        <option value="0" selected>请选择</option>
                        <option value="1">Normal</option>
                        <option value="2">Disable</option>
                        <option value="3">Black</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li style="width:30%">密码状态:</li>
                <li style="width:60%">
                    <select id="sel_passwordType" class="easyui-combobox" name="passwordType">
                        <option value="0" selected>请选择</option>
                        <option value="1">Normal</option>
                        <option value="2">Reset</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li style="width:30%">角色:</li>
                <li style="width:60%">
                    @foreach (var item in RoleModel.CurrentCacheList)
                    {
                        <input name="accountRole" type="checkbox" value="@item.bitMap" /> @(item.roleName)
                    }
                    <input name="roleBitMap" id="hid_bitMap" type="hidden" />
                </li>
            </ul>
            <ul><li style="width:100%">&nbsp;</li></ul>
            <ul><li style="width:20%">姓名:</li><li style="width:60%"><input id="txt_name" name="name" class="easyui-textbox"></li></ul>@*data-options="prompt:'Enter a email address...',validType:'email'"*@
            <ul><li style="width:20%">昵称:</li><li style="width:60%"><input id="txt_nickName" name="nickName" class="easyui-textbox"></li></ul>
            <ul><li style="width:20%">手机:</li><li style="width:60%"><input id="txt_mobile" name="mobile" class="easyui-textbox"></li></ul>
            <ul><li style="width:20%">生日:</li><li style="width:60%"><input id="txt_birthday" name="birthday" class="easyui-datebox"></li></ul>
            <ul><li style="width:20%">性别:</li><li style="width:60%"><input id="rad_man" type="radio" name="sex" value="1">男&nbsp;<input id="rad_female" type="radio" name="sex" value="0">女</li></ul>
            <ul><li style="width:20%">省:</li><li style="width:60%"><input id="txt_country" name="countryId" type="hidden" value="1" ><input id="sel_province" name="provinceId" style="width:100px;"/></li></ul>
            <ul><li style="width:20%">市:</li><li style="width:60%"><input id="sel_city" class="easyui-combobox" name="cityId" /></li></ul>
            <ul><li style="width:20%">详细地址:</li><li style="width:60%"><input id="txt_address" name="address" class="easyui-textbox" style="width:400px;"></li></ul>
            <ul>
                <li style="width:20%">备注:</li>
                <li style="width:60%">
                    <input id="txt_remark" name="remark" class="easyui-textbox" style="width:400px;">
                </li>
            </ul>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('#sel_province').combobox({
        onChange: function (value, o) {
            //console.log(value)
            //console.log(o)
            $('#sel_city').combobox({
                url: '/Person/QueryCityByProvinceId?id=' + value,
                valueField: 'value',
                textField: 'text',
                required: false,
                editable: false,
                value: 0
            });
        },
        url: '/Person/QueryProvinceList',
        valueField: 'value',
        textField: 'text',
        required: false,
        editable: false,
        value: 0
    });
    $("#sel_level").combobox({
        url: '/Person/QueryLevelList',
        valueField: 'value',
        textField: 'text',
        required: false,
        editable: false,
        value: 0
    });
    $("#sel_Role").combobox({
        url: '/Person/QueryRoleList',
        valueField: 'value',
        textField: 'text',
        required: false,
        editable: false,
        value: 0
    });
</script>