@{
    ViewBag.Title = "用户管理";
}
@section Heads{

}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            ClearSearchCookie();
            $('#personList').datagrid({
                title: '用户列表',
                iconCls: 'icon-save',//图标
                width: 700,
                height: 'auto',
                nowrap: false,
                striped: true,
                border: true,
                collapsible: true,//是否可折叠的
                fit: true,//自动大小
                url: '/Person/QueryPersonToGrid',
                idField: 'personId',
                singleSelect: false,//是否单选
                loadMsg: "正在加载，请稍等...",
                pagination: true,//分页控件
                rownumbers: true,//行号
                pagination: true,//分页控件
                pageSize: 10,        //设置默认分页大小
                pageList: [5, 10, 20, 50],   //设置分页大小
                checkbox: true,
                columns: [[
                    { field: 'id', checkbox: true },
                    {
                        field: 'name', title: '姓名', width: 120, align: 'center'
                    },
                    { field: 'nickName', title: '昵称', width: 120, align: 'center' },
                    {
                        field: 'sex', title: '性别', width: 120, align: 'center', formatter: function (value, row) {
                            return GetSexDescription(value);
                        }
                    },
                    {
                        field: 'mobile', title: '手机', width: 120, align: 'center'
                    },
                    {
                        field: 'provinceName', title: '省', width: 120, align: 'center'
                    },
                    {
                        field: 'cityName', title: '市', width: 120, align: 'center'
                    },
                    {
                        field: 'createTime', title: '创建日期', width: 120, align: 'center', formatter: function (value, row) {
                            return DataGridDateTime(value,"yyyy-MM-dd")
                        }
                    },
                    {
                        field: 'edit', title: '操作', width: 100, align: 'center', formatter: function (value, row) {
                            return "<a style='color:blue;cursor:pointer' onclick='javascript:edit(" + row.id + ")'>编辑</a>&nbsp;&nbsp;<a style='color:blue;cursor:pointer' onclick='javascript:ManageAccount(" + row.id + ")'>账号管理</a>";
                        }
                    }
                ]] ,
                toolbar:'#toolbar',
            });
        });

        function edit(personId)
        {
            $("#dlg_Update").dialog('open');
            $("#personList").datagrid('uncheckAll');
            $.post("/Person/QueryPersonById", { id: personId }, function (d) {
                SetFormValue("from_update", d);
                $('#sel_city_update').combobox("setValue", d.id);
                $('#accountName').textbox('disable');
            }, "json")
        }
        
        function Add()
        {
            $("#dlg_Add").dialog('open');
        }
        function AddSave()
        {
            $("#dlg_Add").dialog('close');
            loadingBox.show("正在提交...");
            var data = $("#from_addPerson").serialize();
            $.post("/Person/CreatePersonAccount", data, function (d) {
                if (d == 0) {
                    alert("保存成功");
                    $("#personList").datagrid();
                }
                else {
                    $("#dlg_Add").dialog('open');
                }
                loadingBox.hide();

            });
        }

        function UpdateCancel()
        {
            $("#dlg_Update").dialog('close');
        }
        function ManageAccount(id)
        {
            location.href = "/Account/Index?personId="+id;
        }
        function del()
        {
            var rows = $('#personList').datagrid('getSelections')
            var accountIds = "";
            for (index in rows)
            {
                accountIds += rows[index].accountId + ",";
            }
            accountIds = accountIds.substring(0, accountIds.length - 1);
            $.post("/Peson/DeletePersonById", { ids: accountIds }, function (data) {
                $("#personList").datagrid();
                alert("删除成功");
            },"json")
        }
        function AddCancel()
        {
            $('#dlg_Add').dialog('close');
        }
        $("#btn_search").click(function () {
            var search = $("#txt_search").val();
            var status = $("#sel_status").combobox('getValue');
            var dateFrom = $("#date_from").datebox('getValue');
            var dateTo = $("#date_to").datebox('getValue');
            if (search!="")
                $.cookie("searchText", search, { path: "/" });
            else
                $.cookie("searchText", null, { path: "/" });
            if (status!="")
                $.cookie("searchStatus", status, { path: "/" });
            else
                $.cookie("searchStatus", null, { path: "/" });
            if (dateFrom!="")
                $.cookie("searchDateFrom", dateFrom, { path: "/" });
            else
                $.cookie("searchDateFrom", null, { path: "/" });
            if (dateTo!="")
                $.cookie("searchDateTo", dateTo, { path: "/" });
            else
                $.cookie("searchDateTo", null, { path: "/" });
            $("#personList").datagrid();
        })
    </script>
@Html.Partial("_CreatePartial")
@Html.Partial("_UpdatePartial")
}
<div style="width:100%; height:400px;">
    <table class="easyui-datagrid" id="personList" style="width: 600px; height: 200px; display: none"></table>
</div>



<div id="toolbar" style="padding:5px;height:auto; display:none">
    <div>
        <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">添加</a>  &nbsp;
        <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del()">删除</a> &nbsp;
        From: <input class="easyui-datebox" style="width:80px" id="date_from">
        To: <input class="easyui-datebox" style="width:80px" id="date_to">
        <input class="easyui-textbox" id="txt_search" />
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btn_search">Search</a>
    </div>
</div>
