    <form id="dlg_menuRole" class="easyui-dialog" title="角色权限" closed="true" style="width:400px; height:300px; overflow-y:auto" data-options=" iconCls: 'icon-save',	buttons: [{	text:'保存',	iconCls:'icon-ok',	handler:MenuRoleSave}]">
        <input value="" id="hid_menuRoleId" type="text" style="display:none" name="roleId" />
        <table id="table_menuRole" style="width:400px;height:auto"></table>

</form>
<script type="text/javascript">
    function MenuRole(roleId) {
        $("#table_roleList").datagrid('uncheckAll');
        
        var editRow = undefined; //定义全局变量：当前编辑的行
        $('#dlg_menuRole').dialog('open');

        $('#table_menuRole').datagrid({
            title: '',
            iconCls: 'icon-edit',//图标
            width: 320,
            height: 'auto',
            nowrap: false,
            striped: true,
            border: true,
            collapsible: true,//是否可折叠的
            fit: true,//自动大小
            url: '/Role/QueryMenuRole?roleId=' + roleId,
            idField: 'id',
            singleSelect: false,//是否单选
            loadMsg: "正在加载，请稍等...",
            rownumbers: false,//行号

            //onClickCell: function (rowIndex, rowData) {
            //    if (editRow != undefined) {
            //        $('#table_menuRole').datagrid("endEdit", editRow);
            //    }
            //    if (editRow == undefined) {
            //        editRow = rowIndex;
                    
            //        $('#table_menuRole').datagrid("beginEdit", rowIndex);
            //        //editRow = rowIndex;
            //        $('#table_menuRole').datagrid('selectRow', rowIndex);
            //        $("input[value='true']").attr("checked", true);
            //    }
            //},
            //onAfterEdit: function (rowIndex, rowData, changes) {
            //    //endEdit该方法触发此事件
            //    editRow = undefined;
            //},
            //onBeforeEdit: function (index, row) {
            //    row.editing = true;
            //    $('#tt').datagrid('refreshRow', index);
            //},
            columns: [[
                { field: 'id', title: '', width: 20, align: 'center', hidden: true },
                {
                    field: 'menuName', title: '菜单名称', width: 120, align: 'center', formatter: function (value, row) {
                        var space = "";
                        var spaceCount = row.treeLevel * 8;
                        for (var i = 1; i <= spaceCount; i++) {
                            space += "&nbsp;";
                        }
                        return space + row.menuName;
                    }
                },
                {
                    field: 'isSelect', title: '选择', width: 50, align: 'center'
                    //, editor: { type: 'checkbox', options: { on: 'true', off: 'false' } }
                    , formatter: function (value, row) {
                        if (row.isUpdate == true)
                            return true;
                        else
                            return false;
                    }
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isInsert == true || row.isUpdate == true || row.isDelete == true || row.isSelect == true) {
                            checked = 'checked="true" ';
                        }
                        return '<input type="checkbox" name="isSelect"' + checked + ' currentName="isSelect_' + row.menuId + '" parentName="isSelect_' + row.parentId + '" value="' + row.menuId + '" parent="' + row.parentId + '" onclick="RoleCheck(this)">';
                    }
                },
                {
                    field: 'isInsert', title: '插入', width: 50, align: 'center'
                    //, editor: { type: 'checkbox', options: { on: 'true', off: 'false' } }
                    //, formatter: function (value, row) {
                    //    if (row.isUpdate == true)
                    //        return "true";
                    //    else
                    //        return "false";
                    //}
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isInsert == true) {
                            checked = 'checked="true" ';
                        }
                        return '<input type="checkbox" name="isInsert" ' + checked + ' currentName="isInsert_' + row.menuId + '"  parentName="isInsert_' + row.parentId + '" value="' + row.menuId + '"  parent="' + row.parentId + '"  onclick="RoleCheck(this)">';
                    }
                },
                {
                    field: 'isUpdate', title: '更新', width: 50, align: 'center'
                    //, editor: { type: 'checkbox', options: { on: 'true', off: 'false' } }
                    //, formatter: function (value, row) {
                    //    if (row.isUpdate == true)
                    //        return "true";
                    //    else
                    //        return "false";
                    //}
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isUpdate == true) {
                            checked = 'checked="true"';
                        }
                        return '<input type="checkbox" name="isUpdate" ' + checked + ' currentName="isUpdate_' + row.menuId + '"  parentName="isUpdate_' + row.parentId + '" value="' + row.menuId + '"  parent="' + row.parentId + '"  onclick="RoleCheck(this)">';
                    }
                },
                {
                    field: 'isDelete', title: '删除', width: 50, align: 'center'
                    //, editor: { type: 'checkbox', options: { on: 'true', off: 'false' } }
                    //, formatter: function (value, row) {
                    //    if (row.isUpdate == true)
                    //        return "true";
                    //    else
                    //        return "false";
                    //}
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isDelete == true) {
                            checked = 'checked="true"';
                            value = true;
                        }
                        else {
                            value = false;
                        }
                        return '<input type="checkbox" name="isDelete" ' + checked + ' currentName="isDelete_' + row.menuId + '"  parentName="isDelete_' + row.parentId + '" value="' + row.menuId + '"  parent="' + row.parentId + '"  onclick="RoleCheck(this)">';
                    }
                },
            ]],
        });
    }
    function MenuRoleSave() {
        var selectedRow = $("#table_roleList").datagrid('getSelected');
        console.log(selectedRow);
        var roleId = selectedRow.id
        console.log(roleId);
        $("#hid_menuRoleId").val(roleId);
        //var rows = JSON.stringify($("#dlg_menuRole").serialize());
        //console.log(rows)
        //var data = { menuRole: rows, roleId: roleId };
        var data = $("#dlg_menuRole").serialize();
        console.log(data)
        $.post("/Role/UpdateMenuRole", data, function (d) {
            console.log(d)
            if (d == 0) {
                alert("保存成功");
                $('#dlg_menuRole').dialog('close');
                return;
            }
            else {
                alert("保存失败");
            }
            $("#table_menuRole").datagrid('uncheckAll');
        }, "json")
    }
    function RoleCheck(e) {
        var parentName = $(e).attr("parentName");
        var currentName = $(e).attr("currentName");
        var menu = $(e).attr("value");
        var parent = $(e).attr("parent");
        if (e.checked) {
            $("[currentName='" + parentName + "']").prop("checked", true);
            $("[parentName='" + currentName + "']").prop("checked", true);
            $("[currentName='isSelect_" + menu + "']").prop("checked", true);
            $("[currentName='isSelect_" + parent + "']").prop("checked", true);
            $("[parentName='isSelect_" + menu + "']").prop("checked", true);
        }
        else {
            $("[currentName='" + parentName + "']").prop("checked", false);
            $("[parentName='" + currentName + "']").prop("checked", false);
            $("[parentName='" + parentName + "']").each(function () {
                if (this.checked) {
                    $("[currentName='" + parentName + "']").prop("checked", true);
                }
            });
            if (currentName.indexOf("Select") >= 0) {
                $("[currentName='isDelete_" + menu + "']").prop("checked", false);
                $("[currentName='isUpdate_" + menu + "']").prop("checked", false);
                $("[currentName='isInsert_" + menu + "']").prop("checked", false);
                $("[parentName='isDelete_" + menu + "']").prop("checked", false);
                $("[parentName='isUpdate_" + menu + "']").prop("checked", false);
                $("[parentName='isInsert_" + menu + "']").prop("checked", false);
                if ($("[currentName='" + parentName + "']").prop("checked") == false) {
                    $("[currentName='isDelete_" + parent + "']").prop("checked", false);
                    $("[currentName='isUpdate_" + parent + "']").prop("checked", false);
                    $("[currentName='isInsert_" + parent + "']").prop("checked", false);

                }
            }
        }

    }
</script>