<div id="dlg_Add" class="easyui-dialog" title="添加用户角色" closed="true" style="width:300px" data-options=" iconCls: 'icon-save',	buttons: [{	text:'保存',	iconCls:'icon-ok',	handler:Save},{text:'取消',iconCls:'icon-cancel',handler:cancel}]">
    <div title="Register" style="width:98%;">
        <form id="from_role">
            <input type="hidden" name="id" id="hid_roleId" />
            <ul><li style="width:30%">角色名称:</li><li style="width:60%"><input id="txt_roleName" name="roleName" class="easyui-textbox"></li></ul>@*data-options="prompt:'Enter a email address...',validType:'email'"*@
            <ul>
                <li style="width:30%">角色排序:</li>
                <li style="width:60%">
                    <select id="sel_roleOrder" class="easyui-combobox" name="roleOrder">
                        <option value="-1" selected ="selected">请选择</option>
                        @for (int i = 1; i < 99; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </li>
            </ul>
        </form>
    </div>
</div>
<script>
    function Save() {
        $('#dlg_Add').dialog('close');
        loadingBox.show("正在保存中...")
        var data = $("#from_role").serialize();
        var roleId = $("#hid_roleId").val();
        var url = "/Role/CreateRole";
        if (roleId > 0) {
            url = "/Role/UpdateRole"
        }
        $.post(url, data, function (d) {
            loadingBox.hide();
            if (d == "@((int)ResultType.Success)") {
                alert("保存成功");
                $("#table_roleList").datagrid();
                if (roleId > 0) {
                    $('#dlg_Add').dialog('open');
                }
            }
            else {
                alert("保存失败");
                $('#dlg_Add').dialog('open');
            }
            $("#table_roleList").datagrid('uncheckAll');

        })
    }
</script>